/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    line-height: 1.5;
    padding: 2.5em 0;
    text-align: start;
}

/* Typography */

h2 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

/* Layout */

.container {
    width: 80%;
    margin: 0 auto;
}

.column {
    padding: 2.5em;  
}

.column-first {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.column-second {
   background-color: hsl(184, 100%, 22%); 
}

.column-third {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-body {
    max-width: 200px;
}

/* Buttons */

.btn {
    background-color: hsl(0, 0%, 95%);
    border-radius: 50px;
    display: inline-block;
    padding: .75em 2em;
    margin: 1em 0;
    border: 1px solid hsl(0, 0%, 95%);
}

.btn:hover,
.btn:focus {
    color: hsl(0, 0%, 95%);
    background-color: inherit;
    cursor: pointer;
}

.btn-primary {
    color: hsl(31, 77%, 52%);
}

.btn-secondary {
    color: hsl(184, 100%, 22%);
}

.btn-ternary {
    color: hsl(179, 100%, 13%);
}

/* Media Queries */

@media (min-width: 1024px) {
    .container {
        display: flex;
        justify-content: center;
    }

    .column {
        height: 600px;
        padding: 3em;
    }

    .card-icon {
        width: 100px;
    }

    .card-title {
        font-size: 3rem;
    }

    .card-body {
        font-size: 1.2rem;
        max-width: 270px;
    }

    .btn {
        margin-top: 2.5em;
    }

    .column-first {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }
        
    .column-third {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}